/*HEADLINES*/

@font-face {
 font-family: 'Organetto UltraBold SemiExp'; 
 src: url("/fonts/organetto-ultraboldext.woff2"); 
}

@font-face {
 font-family: 'IBM Plex Sans Text'; 
 src: url(/fonts/IBMPlexSans-Text.woff2); 
}

.font-extrabold {
    font-family: 'Organetto UltraBold SemiExp';
	font-weight: normal;
	font-style: normal;
	}

.decoration-primary-500 {
    font-family: 'Organetto UltraBold SemiExp';
	font-weight: normal;
	font-style: normal;
	}

.text-neutral-500 {
    font-family: 'Organetto UltraBold SemiExp';
	font-weight: normal;
	font-style: normal;
	}

/*SYSTEM*/

.mt-12 {
    font-family: 'Organetto UltraBold SemiExp';
	font-weight: normal;
	font-style: normal;

/*PARAGRAPH*/

.prose {
    font-family: 'IBM Plex Sans Text';
	font-weight: normal;
	font-style: normal;
	}
